<p id="notice"><%= notice %></p>

<p>
  <strong>Total:</strong>
  <%= @invoice.total %>
</p>

<p>
  <strong>Remaining:</strong>
  <%= @invoice.remaining %>
</p>

<%= link_to 'Edit', edit_client_invoice_path(@client, @invoice) %> |
<%= link_to 'Back', client_invoices_path(@client) %>
