<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field col s6">
    <%= f.text_field :f_name %>
    <%= f.label :f_name %>
  </div>
  <div class="input-field col s6">
    <%= f.text_field :l_name %>
    <%= f.label :l_name %>
  </div>
  <div class="input-field col s6">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <div class="input-field col s6">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', class: 'waves-effect waves-light btn' %>
  </div>
<% end %>
